---
---

@import "minimal-mistakes";

html {
  font-size: 15px !important;
}

.page {
  max-width: 900px !important;
}

.page__content {
  font-size: 1em !important;
  line-height: 1.65 !important;
}

.page__title {
  font-size: 2.1rem !important;
  margin-bottom: 1rem !important;
}

.page__content h2 {
  font-size: 1.45rem !important;
  margin-top: 2.2rem !important;
}

.page__content h3 {
  font-size: 1.15rem !important;
}

.archive {
  max-width: 900px !important;
}

.sidebar {
  font-size: 0.9em !important;
}
