---
---

@import "minimal-mistakes";

/* Custom font sizes */
html {
  font-size: 15px !important;
}

body {
  font-size: 13px !important;
}

.page__content {
  font-size: 1em !important;
}

.page__title {
  font-size: 1.7em !important;
}

.page__content h1 {
  font-size: 1.8em !important;
}

.page__content h2 {
  font-size: 1.3em !important;
}

.page__content h3 {
  font-size: 1.1em !important;
}
